.cart-main-page-wrapper{
    min-height: 70vh;
    display: flex;
    
}
.cart-heading{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    position: absolute;
    top: 85px;
    font-size: 30px;
}
.item-category{
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 30px;
}

.items-main-section{
    width: 70%;
    min-height: 400px;
    background-color: rgb(231, 238, 238);
    margin-top: 60px;
    border-radius: 5px;
    margin-left: 50px;
    margin-bottom: 50px;
    position: relative;
}
.item-main-section{
    height: 200px;
    display: flex;
}
.item-image{
    height: 160px;
    width: 160px;
    border-radius: 5px;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
    background-color: rgb(42, 56, 56);
    position: relative;
}
.cart-subtitles{
    display: flex;
    margin-left: 40px;
    margin: 10px;
    justify-content: space-between;
}
.item-price{
    margin-left: 176px;
    position: absolute;
    right: 10px;
    margin-top: 50px;
}
.item-quantity{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
}
.item-quantity input:focus{
    outline: none;
    
}
.item-quantity input{
    width: 45px;
    margin-left: -20px;
    border: 0.2px black solid;
    border-radius: 2px;
    margin-top: 50px;
}


.item-name{
    margin-left: 10px;
    font-weight: bold;
}
.image-and-delete{
    position: absolute;
}
.cart-delete-icon{
    margin-top: 40px;
    position: absolute;
    right: -25px;
    color: red;
}
.cart-total-card{
    background-color: rgb(42, 56, 56);
    width: 370px;
    height: 300px;
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}