.cart-main-page-wrapper{
    min-height: 70vh;
    display: flex;
    justify-content: center;
}
.cart-heading{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    position: absolute;
    top: 100px;
}
.items-main-section{
    width: 80%;
    height: 400px;
    background-color: aqua;
    margin-top: 60px;
}