.loginform{
    min-height: 600px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginform form{
    margin-top: -150px;
    display: flex;
    flex-direction: column;
}
form p{
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
}
form input{
    padding: 7px;
    margin-top: 10px;
}
.google-paragraph{
    margin-top: 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.google-logo{
    transform: scale(1.4);
    margin-right: 10px;
    color: rgb(202, 85, 241);
}
.register-paragraph{
    margin-top: 20px;
    font-size: 15px;
}
.linkto{
    color: rgb(202, 85, 241);
    text-decoration: none;
}
.error-message{
    color: red;
    font-family: sans-serif;
}