.product-details-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.product-description{
    margin: 0;
}

.laptop-name{
    margin-bottom: 10px;
}

.details-card{
    margin-left: 20px;
    width: 100%;
    display: flex;
    position: relative;
}
.details-card p{
    font-size: 25px;
}
.details-image{
    width: 500px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px black solid;
    
    border-radius: 5px;
}
.checkout-card-details{
    margin-left: 30px;
    width: 800px;
}
.product-description{
    margin-top: 40px;
}
.proceed-to-payment-button{
    height: 30px;
    width: 170px;
    bottom: 0;
    right: 120px;
    margin-left: 30px;
    background-color: black;
    color: white;
    border: 1px black;
    border-radius: 8;
}
.proceed-to-payment-button:hover{
    cursor: pointer;
}
.quanity-input{
    height: 35px;
    bottom: 0;
}
.bottom-elements{
    position: absolute;
    bottom: 0;
}
.image-gallery{
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    right: 500px;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 5px;
    display: flex;
    margin-right: 10px;

}
.image-gallery-wrapper{
    display: flex;
    position: absolute; 
    bottom: 0px;
    left: 20px;
}