.store-container{
    min-height: 620px;
}
.search-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.search-container input{
    width: 40%;
    height: 30px;
}
.search-container button{
    margin-left: 10px;
    width: 80px;
    background-color: rgb(202, 85, 241);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
.filter{
    margin-left: 20px;
    border: 1px black solid;
    outline: none;
}
.listing-container{
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card{
    width: 400px;
    height: 500px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    transform: scale(0.85);
}
.card-image{
    width: 100%;
    height: 65%;
    background-position: center;
    background-size: cover;
}
.card button{
    position: absolute;
}
.previous-button{
    right: -14px;
    top: 26%;
    transform: rotate(90deg);
}
.next-button{
    left: -6px;
    width: 60px;
    top: 26%;
    transform: rotate(90deg);
}
