.store-container{
    min-height: 620px;
}
.search-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.search-container input{
    width: 40%;
    height: 30px;
}
.search-container button{
    margin-left: 10px;
    width: 80px;
    background-color: rgb(202, 85, 241);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
.filter{
    margin-left: 20px;
    border: 1px black solid;
    outline: none;
}
.listing-container{
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card{
    width: 350px;
    height: 450px;
    background-color: gray;
    position: relative;
    border-radius: 5px;
    margin: 10px;
}
.card:hover{
    transform: translateY(-6px);
    cursor: pointer;
}
.card-image{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.card button{
    position: absolute;
}
.next-button{
    right:0px;
    top: 26%;
    transform: rotate(90deg);
}
.previous-button{
    left: 0px;
    width: 66px;
    top: 26%;
    transform: rotate(90deg);
}
